body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
    color: #ff0000;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #111;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}


.content {
    background-color: #222;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

h1 {
    color: #ff0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #fff;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #444;
}

tr:nth-child(odd) {
    background-color: #333;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 1em;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
}